
    <div id="uiview-container">

        <div class="uiview-container-panel">

            <div style="text-align:left;border-bottom:1px solid #ccc;padding-bottom:5px">
                <h4 data-bind="text: caption_view_title"></h4>
            </div>

            <div style="background-color:#fff;padding:0 20px 40px 20px;border-radius:4px;border:1px solid #ddd;margin-top:20px">

                <div style="display:none" data-bind="visible: is_private_network">

                    <div class="form-group" style="max-width:600px;margin-top:20px;" id="grpPrivateSeedHost">
                        <label for="text">Private hub seed host:</label>
                        <div style="font-size:11px">(IP address or domain name)</div>
                        <div id="lblSeedHostErrorContainer" class="error-label">
                            <span id="lblSeedHostError"></span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: private_net_host" style="max-width:300px" id="txtPrivateNetHost" maxlength="40" />
                    </div>

                    <div class="form-group" style="max-width:600px;margin-top:20px;" id="grpPrivateSeedPort">
                        <label for="text">Private hub seed port:</label>
                        <div id="lblSeedPortErrorContainer" class="error-label">
                            <span id="lblSeedPortError"></span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: private_net_port" style="max-width:90px" id="txtPrivateNetPort" maxlength="5" />
                    </div>

                    <div class="form-group" style="max-width:600px;margin-top:20px;" id="grpPrivateSeedAccount">
                        <label for="text">Private hub seed account:</label>
                        <div id="lblSeedAccountErrorContainer" class="error-label">
                            <span id="lblSeedAccountError"></span>
                        </div>
                        <input type="text" class="form-control" data-bind="value: private_net_account" style="max-width:350px" id="txtPrivateNetAccount" maxlength="32" />
                    </div>

                </div>

                <div class="form-group" style="max-width:600px;margin-top:20px" id="grpAccount">
                    <label for="text">Streembit account:</label>
                    <div id="lblAccountErrorContainer" class="error-label">
                        <span id="lblAccountError"></span>
                    </div>
                    <input type="text" class="form-control" data-bind="value: account, visible: is_new_account() == true || is_account_exists() == false" style="max-width:300px" id="txtAccount" maxlength="20" />
                    <div data-bind="visible: is_new_account() == false && is_account_exists() == true">
                        <select class="form-control" data-bind="options: accounts, optionsText: 'account', value: selected_account, optionsCaption: 'Choose...'" style="max-width:300px"></select>
                    </div>
                </div>

                <div class="form-group" style="max-width:600px;margin-top:20px" id="grpPassword">
                    <label for="text">Private key password:</label>
                    <div id="lblPwdErrorContainer" class="error-label">
                        <span id="lblPwdError"></span>
                    </div>
                    <input type="password" class="form-control" data-bind="value: private_key_pwd, event: { keyup: ctrlKeyUp }" style="max-width:400px" id="txtPassword" />
                </div>

                <div class="form-group" style="max-width:600px;margin-top:20px" id="grpPasswordConfirm" data-bind="visible: is_new_account() == true">
                    <label for="text">Confirm private key password:</label>
                    <div id="lblPwdConfErrCont" class="error-label">
                        <span id="lblPwdConfError"></span>
                    </div>
                    <input type="password" class="form-control" data-bind="value: private_key_pwd_conf, event: { keyup: ctrlKeyUp }" style="max-width:400px" id="txtPasswordConfirm" />
                </div>

                <div style="margin-top:30px">
                    <button data-bind="click: login, visible: is_new_account() == false" style="margin-right:10px"><span data-bind="text:caption_btninit"></span></button> <button id="btnCreate" data-bind="visible: is_new_account() == true, click: create_account">Create new account</button> <a href="#" data-bind="visible: is_new_account() == false, click: set_newaccount_mode" style="margin-left:10px;text-decoration:underline">Create new account</a>
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        var is_new_account = false;
        var uioptions = streembit.Session.uioptions;
        if (uioptions) {
            is_new_account = uioptions.newuser || false;
            is_init_existing_account = uioptions.initexisting || false;
        }
        var user_div = document.getElementById('uiview-container');
        var vm = new streembit.vms.UserViewModel(is_new_account, validateAccount, validatePassword, validatePasswordConfirm, validatePrivateSeedHost, validatePrivateSeedPort, validatePrivateSeedAccount, is_init_existing_account);
        vm.init(function () {
            ko.applyBindings(vm, user_div);

            $("#txtAccount").blur(function () {
                vm.onAccountChange();
            });

            $("#txtPassword").blur(function () {
                vm.onPasswordChange();
            });

            $("#txtPasswordConfirm").blur(function () {
                vm.onPasswordConfirmChange();
            });

            $("#txtPrivateNetHost").blur(function () {
                vm.onPrivateSeedHostChange();
            });

            $("#txtPrivateNetPort").blur(function () {
                vm.onPrivateSeedPortChange();
            });

            $("#txtPrivateNetAccount").blur(function () {
                vm.onPrivateSeedAccountChange();
            });
        });

        function validateAccount(valid, msg) {
            if (!valid) {
                $("#grpAccount").addClass("has-error");
                $("#lblAccountError").text(msg);
                $("#lblAccountErrorContainer").show();
                //alert(msg)
            }
            else {
                $("#grpAccount").removeClass("has-error");
                $("#lblAccountError").text("");
                $("#lblAccountErrorContainer").hide();
            }
        }

        function validatePassword(valid, msg) {
            if (!valid) {
                $("#grpPassword").addClass("has-error");
                $("#lblPwdError").text(msg);
                $("#lblPwdErrorContainer").show();
                //alert(msg)
            }
            else {
                $("#grpPassword").removeClass("has-error");
                $("#lblPwdError").text("");
                $("#lblPwdErrorContainer").hide();
            }
        }

        function validatePasswordConfirm(valid, msg) {
            if (!valid) {
                $("#grpPasswordConfirm").addClass("has-error");
                $("#lblPwdConfError").text(msg);
                $("#lblPwdConfErrCont").show();
                //alert(msg)
            }
            else {
                $("#grpPasswordConfirm").removeClass("has-error");
                $("#lblPwdConfError").text("");
                $("#lblPwdConfErrCont").hide();
            }
        }

        function validatePrivateSeedHost(valid, msg) {
            if (!valid) {
                $("#grpPrivateSeedHost").addClass("has-error");
                $("#lblSeedHostError").text(msg);
                $("#lblSeedHostErrorContainer").show();
                //alert(msg)
            }
            else {
                $("#grpPrivateSeedHost").removeClass("has-error");
                $("#lblSeedHostError").text("");
                $("#lblSeedHostErrorContainer").hide();
            }
        }

        function validatePrivateSeedPort(valid, msg) {
            if (!valid) {
                $("#grpPrivateSeedPort").addClass("has-error");
                $("#lblSeedPortError").text(msg);
                $("#lblSeedPortErrorContainer").show();
                //alert(msg)
            }
            else {
                $("#grpPrivateSeedPort").removeClass("has-error");
                $("#lblSeedPortError").text("");
                $("#lblSeedPortErrorContainer").hide();
            }
        }

        function validatePrivateSeedAccount(valid, msg) {
            if (!valid) {
                $("#grpPrivateSeedAccount").addClass("has-error");
                $("#lblSeedAccountError").text(msg);
                $("#lblSeedAccountErrorContainer").show();
                //alert(msg)
            }
            else {
                $("#grpPrivateSeedAccount").removeClass("has-error");
                $("#lblSeedAccountError").text("");
                $("#lblSeedAccountErrorContainer").hide();
            }
        }

    });
    </script>

