<div id="app-init-screen">
    <div class="app-select-screen">
        <div class="flex-btncontainer">
            <div id="btnAppSelectPublic" class="flex-btnitem" style="background-color:#F9BF3B;padding-top:16px;">
                <i class="fa fa-group" style="font-size:100px"></i>
                <div class="flex-btnitem-text">Connect to Public Streembit</div>
            </div>
            <div id="btnAppSelectPrivate" class="flex-btnitem" style="background-color:#5fb2c4">
                <i class="fa fa-lock"></i>
                <div class="flex-btnitem-text">Connect to Private Streembit</div>
            </div>
            <div id="btnCreateUser" class="flex-btnitem" style="background-color:#4190c6">
                <i class="fa fa-user-plus"></i>
                <div class="flex-btnitem-text">New Account</div>
            </div>
            <div id="btnInitializeUser" class="flex-btnitem" style="background-color:#E26A6A">
                <i class="fa fa-folder-open"></i>
                <div class="flex-btnitem-text">Initialize Existing Account</div>
            </div>
            <div id="btnRestoreUser" class="flex-btnitem" style="background-color:#68C3A3;padding-top:18px;">
                <i class="fa fa-sign-in"></i>
                <div class="flex-btnitem-text">Restore Account</div>
            </div>
        </div>
    </div>
</div>
