    <div id="messages-container" style="padding: 10px 10px">
        <div style="border-bottom:4px solid #eee;padding-bottom:8px;color:#666;font-size:24px;font-weight:bold">
            Messages for <span data-bind="text: streembit.User.name"></span>
        </div>
        <div class="account-messages-items" data-bind="foreach: messages">
            <div data-bind="template:{name: template }">

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var messages_div = document.getElementById('messages-container');
            ko.applyBindings(streembit.UI.messagesvm, messages_div);
        });
    </script>
