    <div id="device-container">
        <div style="text-align:center">
            <div class="device-header">
                Device: <span data-bind="text:name"></span>
            </div>
        </div>
        <div class="devices-list" data-bind="foreach: devices">
            <div data-bind="template: { name: template_name}">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var datacontext = streembit.Session.uioptions;
            var div = document.getElementById('device-container');
            var vm = new streembit.vms.DeviceModel(datacontext);
            vm.init(function () {
                ko.applyBindings(vm, div);
                streembit.Session.curent_viewmodel = vm;
                vm.init_properties();
            });
        });
    </script>

    <!-- device handling templates -->

<script type="text/html" id="device_event_highTemperature_template">
    <div class="device-property boxed-device-property">
        <div style="text-align:center;padding:10px">
            <div data-bind="visible: is_subscribed() == false && send_in_progress() == false">
                Receive notification when the temperature is higher than <input type="number" style="width:70px;padding-left:5px" data-bind="value: threshold" /> &#8451; &nbsp;&nbsp;&nbsp;&nbsp;<button data-bind="click:subscribe">Subscribe</button>
            </div>
            <div data-bind="visible: send_in_progress">
                Sending subscription ... <i class="fa fa-refresh fa-spin" style="color:#307bae;font-size:16px"></i>
            </div>
            <div data-bind="visible: is_subscribed() == true && onevent_raised() == false">
                Subscribed to receive notification when the temperature is higher than <span data-bind="text: threshold"></span> &#8451;
            </div>
            <div data-bind="visible: is_subscribed && onevent_raised" style="padding: 8px;display: flex;justify-content: center;align-items: center;font-size:14px;color:#c62727;font-weight:bold">
                <i class="fa fa-exclamation-circle" style="font-size:18px"></i>&nbsp;&nbsp;&nbsp;&nbsp;The temperature is higher than <span data-bind="text: threshold"></span> &#8451;.
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="device_property_temperature_template">
    <div class="device-property boxed-device-property">
        <div style="text-align:right;padding:5px 10px">
            <div>
                <i class="fa fa-refresh" style="color:#307bae;font-size:16px" data-bind="click: refresh, css: { 'fa-spin': refresh_in_progress() == true }"></i>
            </div>
        </div>
        <div style="font-size:120px;color:#333;padding: 20px;">
            <span data-bind="text: temperature"></span> &#8451;
        </div>
    </div>
</script>

<script type="text/html" id="temperature_sensor_template">
    <div class="sensor-container">
        <div class="sensor-header">
            <div>
                <span data-bind="text: name"></span> | Model: <span data-bind="text: model"></span>
            </div>
        </div>
        <div class="interactions-list" data-bind="foreach: interactions">
            <div data-bind="template: { name: template_name}" style="flex: 1;display: flex;justify-content: center;align-items: center;">
            </div>
        </div>
    </div>
</script>

