    <div id="screenshare-container" style="width:100%;height:100%;display:flex;align-items:stretch;align-content: stretch;">
        <div style="flex:1;display:flex;justify-content: center;align-items: center;">
            <div style="text-align:center;border: 5px solid #ccc;padding: 40px 50px;border-radius: 8px;background-color: #f2f2f2;">
                <div style="font-weight:bold;font-size:12px;padding:0">
                    <audio id="contactaudio" controls autoplay></audio>
                </div>
                <div style="margin-top:20px;font-size:26px">Sharing your screen to <span data-bind="text: contact_name"></span></div>
                <div><button data-bind="click: hangup" style="font-size:20px;padding:5px 30px;margin-top:20px">Cancel screen share</button></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function onContactConnect() {
        }

        $(document).ready(function () {
            var contact = streembit.Session.uioptions.contact;
            var screensharediv = document.getElementById('screenshare-container');
            var vm = new streembit.vms.ShareScreenViewModel(null, true, contact, onContactConnect);
            ko.applyBindings(vm, screensharediv);
            vm.init();

            streembit.Session.curent_viewmodel = vm;

        });
    </script>


