/**  =====================
      Job-pages css start
==========================  **/
.job-right-header {
    .card-header .card-header-right {
        top: 7px;
        right: 15px;
    }
    .radio-inline {
        display: block;
    }
    .checkbox-fade {
        display: block;
        label {
            position: absolute;
            z-index: 99;
        }
        div {
            position: relative;
            padding-left: 40px;
            margin-bottom: 20px;
        }
    }
    a {
        color: $primary-color;
        font-weight: 600;
    }
}

.job-details-list {
    padding-left: inherit;
    list-style-type: square;
    margin-bottom: 40px;
    li {
        margin-bottom: 10px;
    }
}

.company-name {
    p {
        font-weight: 600;
        color: $primary-color;
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.job-cards {
    .media {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    &:last-child {
        .media {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    img {
        width: 60px;
    }
    .media-right {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

.job-badge {
    position: absolute;
    top: 20px;
    right: 10px;
}

.job-lable .label {
    background-color: $primary-color;
    color: #fff;
    margin: 5px 10px;
    position: relative;
    z-index: 9;
    display: inline-block;
    padding: 5px 10px 5px 12px;
    &:before {
        content: "";
        background-color: $primary-color;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        position: absolute;
        left: -7px;
        top: 3px;
        z-index: -1;
    }
    &:after {
        content: '\ed55';
        font-family: 'IcoFont' !important;
        position: absolute;
        left: 0;
        font-size: 5px;
        top: 8px;
    }
}
.job-card-desc{
	font-weight: 600;
}
.job-meta-data{
	text-transform: capitalize;
	font-size: 12px;
	margin-bottom: 10px;
	i{
		margin-right: 5px;
		color: $primary-color;
	}
}
/**====== Job-pages css end ======**/
